/*
	skype: Elementum
	vk: https://vk.com/e1ementum
*/



/*
	RESET
*/

html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/*
	FONTS
*/

@font-face {
	font-family: '_ssp_b';
	src: url("../fonts/SourceSansPro-Bold.otf");
}

@font-face {
	font-family: "_ssp_r";
	src: url("../fonts/SourceSansPro-Regular.otf");
}

@font-face{
	font-family: "_ssp_s";
	src: url("../fonts/SourceSansPro-Semibold.otf");
}

@font-face {
	font-family: '_fa';
	src: url("../fonts/FontAwesome.otf");
}

/*
	COMMON
*/

html {
	position: relative;
	min-width: 960px;
	min-height: 100%;
	color: #212121;
	white-space: nowrap;
	font-size: 16px;
	font-family: '_ssp_b';
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
body {
	min-height: 100%;
}
.content {
	position: relative;
	margin: 0px auto;
	width: 1170px;
}

.content_2 {
	position: relative;
	margin: 0px auto;
	width: 1760px;
}

.screen {
	overflow: hidden;
	min-height: 100%;
	width: 100%;
}
::-webkit-input-placeholder {
	color: #777;
}
:-moz-placeholder {
	color: #777;
}
::-moz-placeholder {
	color: #777;
}
:-ms-input-placeholder {
	color: #777;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
input:focus:-moz-placeholder {
	color: transparent;
}
input:focus::-moz-placeholder {
	color: transparent;
}
input:focus::-ms-input-placeholder {
	color: transparent;
}
textarea:focus::-webkit-input-placeholder {
	color: transparent;
}
textarea:focus:-moz-placeholder {
	color: transparent;
}
textarea:focus::-moz-placeholder {
	color: transparent;
}
textarea:focus::-ms-input-placeholder {
	color: transparent;
}
._t1 {
	text-align: center;
	color: #3A3;
	display: none;
}

/*
	HEADER
*/
.header {
	background: url("../img/header.jpg") no-repeat 50%;
	height: 1000px;
}

.header .b1 {}

.header .t1 {
	margin-top: 49px;
	display: inline-block;
	font-size: 18px;
	float: left;
}

.header .b2 {}

.header .t2 {
	float: right;
	margin: 52px 36px 0px -14px;

}

.header .t2:hover {
	color: #544F4F;
	cursor: pointer;
}

.header .t2:active {
	color: #750707;
}

.header .i1 {
	float: right;
	display: inline-block;
	margin: 54px -286px;
}

.header .b3 {
	float: right;
	margin-top: 445px;
	margin-right: -288px;
}

.header .t3 {
	font-size: 70px;
	letter-spacing: 2px;
	margin-left: 105px;
}

.header .b4 {
	width: 139px;
	height: 5px;
	background: #232323;
	margin-left: 416px;
	margin-top: 10px;
}

.header .t4 {
	width: 558px;
	margin-top: 34px;
	white-space: normal;
	text-align: right;
	font-size: 18px;
	line-height: 34px;
	font-family: "_ssp_r";
}

.header .btn1 {
	width: 268px;
	height: 44px;
	margin-left: 284px;
	margin-top: 52px;
	font-size: 18px;
	text-align: center;
	line-height: 44px;
	border: 2px solid black;
	font-family: "_ssp_s";
}


.header .btn1:hover {
	color: #544F4F;
	cursor: pointer;
}

.header .btn1:active {
	color: #750707;
}

/*
	P1
*/

.p1 {
	background: #ffffff;
	height: 390px;
}


.p1 .i1 {
	background: url("../img/i1.png") no-repeat 50%; 
	height: 39px; 
	margin-top: 100px;
}

.p1 .t1 {
	text-align: center;
	font-size: 29px;
	margin-top: 12px;
	letter-spacing: 1px;
}

.p1 .t2 {
	margin-top: 60px;
	margin-left: 101px;
	width: 966px;
	display: inline-block;
	white-space: normal;
	text-align: center;
	line-height: 33.5px;
}

/*
	P2
*/

.p2 {
	background: #efefef;
	height: 375px;
}

.p2 .b1 {
	padding-top: 81px;
	margin-left: 57px;
	float: left;
	width: 270px;
}

.p2 .i1 {
	background: url(../img/p2i1.png) no-repeat;
	height: 33px;
}

.p2 .t1 {
	margin-top: 23px;
	margin-left: -1px;
	font-size: 20px;
}

.p2 .t2 {
	margin-top: 26px;
	white-space: normal;
	word-spacing: 5px;
	line-height: 26px;
	font-family: "_ssp_r";
}

.p2 .i2 {
	background: url(../img/p2i2.png) no-repeat;
	height: 33px;
}

.p2 .b2 {
	width: 270px;
	padding-top: 83px;
	margin-left: 131px;
	float: left;
}

.p2 .t3 {
	margin-top: 21px;
	margin-left: -4px;
	font-size: 20px;
	word-spacing: 2px;
}

.p2 .t4 {
	margin-top: 26px;
	white-space: normal;
	word-spacing: 4px;
	line-height: 26px;
	font-family: "_ssp_r";
}

.p2 .b3 {
	width: 270px;
	padding-top: 77px;
	margin-left: 130px;
	float: left;
}

.p2 .i3 {
	background: url("../img/p2i3.png") no-repeat;
	height: 38px;
}

.p2 .t5 {
	margin-top: 22px;
	margin-left: -7px;
	font-size: 20px;
	word-spacing: 2px;
}

.p2 .t6 {
	margin-top: 26px;
	margin-left: -3px;
	white-space: normal;
	word-spacing: 4px;
	line-height: 26px;
	font-family: "_ssp_r";	
}

/*
	P3
*/

.p3 {
	background: #ffffff;
	height: 740px;
}

.p3 .t1 {
	text-align: center;
	font-size: 29px;
	margin-top: 97px;
	letter-spacing: 1px;	
}

.p3 .t2 {
	margin-top: 29px;
	margin-left: 187px;
	width: 790px;
	display: inline-block;
	white-space: normal;
	text-align: center;
	line-height: 33.5px;
	font-family: "_ssp_r";
}

.p3 .i1 {
	background: url(../img/p3i1.png) no-repeat 50%;
	height: 368px;
	margin-top: 101px;
}

/*
	P4
*/

.p4 {
	background: #efefef;
	height: 366px;
}

.p4 .t1 {
	text-align: center;
	font-size: 29px;
	padding-top: 61px;
	letter-spacing: 1px;
}

.p4 .i1 {
	background: url(../img/p4i1.png) no-repeat 54%;
	height: 102px;
	margin-top: 59px;
}

/*
	P5
*/


.p5 {
	background: #ffffff;
	height: 400px;
}

.p5 .t1 {
	text-align: center;
	font-size: 29px;
	padding-top: 104px;
	letter-spacing: 1px;
}

.p5 .t2 {
	margin-top: 29px;
	margin-left: 196px;
	width: 776px;
	display: inline-block;
	white-space: normal;
	text-align: center;
	line-height: 33.5px;
	font-family: "_ssp_r";	
}

.p5 .b1	{
	background: #e64a19;
	width: 75px;
	height: 7px;
	margin-top: 47px;
	margin-left: 546px;
}

.p5 .b2 {
	margin: 49px 379px;
	width: 422px;
	height: 30px;
}
.p5 .t3 {
	float: left;
	margin: -1px 18.1px;
	font-family: "_ssp_r";
}

/*
	P6
*/

.p6 {
	background: #ffffff;
	height: 515px;
}

.p6 .i1 {
	background: url(../img/p6i1.png) no-repeat 50%; 
	height: 436px;
}

/*
	P7
*/

.p7 {
	background: #212121;
	height: 308px;
}

.p7 .i1 {
	background: url(../img/p7i1.png) no-repeat 50%;
	height: 16px;
	position: relative;
	top: 83px;
	left: -2px;
}

.p7 .t1 {
	margin-top: 99px;
	margin-left: 167px;
	width: 842px;
	white-space: normal;
	text-align: center;
	line-height: 37.5px;
	font-family: "_ssp_r";
	letter-spacing: 2px;
	word-spacing: -2px;
	color: #eeeeee;		
}

.p7 .t2 {
	margin-top: 34px;
	margin-left: 531px;
	display: inline-block;
	white-space: normal;
	text-align: center;
	font-family: "_ssp_r";
	letter-spacing: 2px;
	word-spacing: -2px;
	color: #eeeeee;	
	font-style: italic;
}